Repository nextcloud/ansible-collection-nextcloud-admin, pull requests merged in 2023-03, with the labels that each got.

#230 Fix pre-commit update action
  .github/workflows/precommit-update.yml
Labels: ci, pre-commit

#232 Change pre-commit updater committer to different dependabot email
  .github/workflows/precommit-update.yml
Labels: ci, pre-commit

#233 Revert "Change pre-commit updater committer to different dependabot email"
  .github/workflows/precommit-update.yml
Labels: ci, skip-changelog, pre-commit

#235 Cleanup unnecessary block statement in nc-apps.ymls.
  roles/install_nextcloud/tasks/nc_apps.yml
Labels: refactoring

#236 Change pre-commit update flow
  .github/workflows/precommit-update.yml
  .github/workflows/tests.yml
Labels: ci, pre-commit
